{% extends 'base.html' %}
{% block content %}
<div class="container text-center">

    {% for order in orders %}
    <h1>#{{order.id}} {{order.user}}'s order</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for item in order.items.all %}
        <tr>
            <th scope="row">{{item.id}}</th>
            <td><a href="{% url 'item_bin:item-detail' pk=item.id %}">{{item.name}}</a></td>
            <td>{{item.price}} $</td>
            <td>{{item.quantity}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{% url 'item_bin:buy_order' pk=order.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit" id="buy-button">Buy</button>
                </form>
            </div>

            <div class="col"><h3>Discount: -{{order.discount}} %</h3></div>
            <div class="col"><h3>Tax: +{{order.tax}} %</h3></div>
        </div>
    </div>
    <div style="margin-top: 3em"></div>
    {% endfor %}
</div>
{% endblock %}